
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

$salmon-pink: #F49097;
$mauve: #DFB2F4;
$corn: #F5E960;
$ghost-white: #F2F5FF;
$turqoise: #55D6C2;



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 62.5%;
    font-family: 'Mukta', sans-serif;
    background-color: $mauve;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name {
    color: $salmon-pink;
}