.menu {
    background-color: $red-1;
    color: $ghost-white;
    padding: 2rem;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 5rem;
    -webkit-box-shadow: 10px 6px 35px -18px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 6px 35px -18px rgba(0,0,0,0.65);
    box-shadow: 10px 6px 35px -18px rgba(0,0,0,0.65);
    &__hero {
        padding: 2rem;
    }

    &__buttons {
        button {
            background: transparent;
            border: none;
            outline: none;
            background-color: $ghost-white;
            color: $red-1;
            width: 40%;
            height: 3rem;
            font-size: 1.2rem;
            transition: all .2s;
            font-weight: 600;
            &:hover {
                background-color: $red-2;
                color: $ghost-white;
                transition: all .2s;
                cursor: pointer;
            }
        }

    }
}